<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.IbMapper">
	
	<!-- 총 페이지수 -->
	<select id="getTotalArticle" resultType="java.lang.Integer">
		<![CDATA[
			SELECT COUNT(*) FROM PET
		]]>
	</select>
	
	<!-- 강아지 업체분양 -->
	<select id="getImageList" parameterType="hashmap"  
	        resultType="com.ib.dto.IbDTO">
	    <![CDATA[
		SELECT PETID,CLASSIFY1, CLASSIFY2,DOGKORTYPE, DOGENGTYPE, GENDER, AGE,PRICE,JUSA, PIC, HEART
		FROM (SELECT ROWNUM RN, AA.*
		      FROM (SELECT * FROM PET WHERE CLASSIFY1=1 AND CLASSIFY2='A1' ORDER BY PETID DESC) AA)
		WHERE RN >= #{startNum} AND RN <= #{endNum}
	    ]]>
	</select>
	
	<!-- 강아지 개인분양 -->
	<select id="getImageList2" parameterType="hashmap"  
	        resultType="com.ib.dto.IbDTO">
	    <![CDATA[
		SELECT PETID,CLASSIFY1, CLASSIFY2,DOGKORTYPE, DOGENGTYPE, GENDER, AGE,PRICE,JUSA, PIC, HEART
		FROM (SELECT ROWNUM RN, AA.*
		      FROM (SELECT * FROM PET WHERE CLASSIFY1=1 AND CLASSIFY2='A2' ORDER BY PETID DESC) AA)
		WHERE RN >= #{startNum} AND RN <= #{endNum}
	    ]]>
	</select>
	
	<!-- 강아지 유기분양 -->
	<select id="getImageList3" parameterType="hashmap"  
	        resultType="com.ib.dto.IbDTO">
	    <![CDATA[
		SELECT PETID,CLASSIFY1, CLASSIFY2,DOGKORTYPE, DOGENGTYPE, GENDER, AGE,PRICE,JUSA, PIC, HEART
		FROM (SELECT ROWNUM RN, AA.*
		      FROM (SELECT * FROM PET WHERE CLASSIFY1=1 AND CLASSIFY2='A3' ORDER BY PETID DESC) AA)
		WHERE RN >= #{startNum} AND RN <= #{endNum}
	    ]]>
	</select>

	<!-- 고양이 업체분양 -->
	<select id="getImageList4" parameterType="hashmap"  
	        resultType="com.ib.dto.IbDTO">
	    <![CDATA[
		SELECT PETID,CLASSIFY1, CLASSIFY2,DOGKORTYPE, DOGENGTYPE, GENDER, AGE,PRICE,JUSA, PIC, HEART
		FROM (SELECT ROWNUM RN, AA.*
		      FROM (SELECT * FROM PET WHERE CLASSIFY1=2 AND CLASSIFY2='A1' ORDER BY PETID DESC) AA)
		WHERE RN >= #{startNum} AND RN <= #{endNum}
	    ]]>
	</select>

	<!-- 고양이 개인분양 -->
	<select id="getImageList5" parameterType="hashmap"  
	        resultType="com.ib.dto.IbDTO">
	    <![CDATA[
		SELECT PETID,CLASSIFY1, CLASSIFY2,DOGKORTYPE, DOGENGTYPE, GENDER, AGE,PRICE,JUSA, PIC, HEART
		FROM (SELECT ROWNUM RN, AA.*
		      FROM (SELECT * FROM PET WHERE CLASSIFY1=2 AND CLASSIFY2='A2' ORDER BY PETID DESC) AA)
		WHERE RN >= #{startNum} AND RN <= #{endNum}
	    ]]>
	</select>
	
	<!-- 고양이 유기분양 -->
	<select id="getImageList6" parameterType="hashmap"  
	        resultType="com.ib.dto.IbDTO">
	    <![CDATA[
		SELECT PETID,CLASSIFY1, CLASSIFY2,DOGKORTYPE, DOGENGTYPE, GENDER, AGE,PRICE,JUSA, PIC, HEART
		FROM (SELECT ROWNUM RN, AA.*
		      FROM (SELECT * FROM PET WHERE CLASSIFY1=2 AND CLASSIFY2='A3' ORDER BY PETID DESC) AA)
		WHERE RN >= #{startNum} AND RN <= #{endNum}
	    ]]>
	</select>
	 
	 <!--  FROM (SELECT * FROM PET 
WHERE  classify1=#{classify1}AND classify2=#{classify2}
ORDER BY PETID DESC )  -->
	<insert id="imageBoardInsert" parameterType="com.ib.dto.IbDTO">
		<![CDATA[
		INSERT INTO PET 
		VALUES(SEQ_PETID.NEXTVAL,#{classify1},#{classify2},#{dogkortype},#{dogengtype},
		#{gender},#{age},#{price},#{jusa},#{pic},#{heart})
				
		]]>
	</insert>
	
   	<select id="getDog" parameterType="java.lang.Integer" resultType="IbDTO">
		<![CDATA[
			SELECT * FROM PET WHERE PETID=#{petid}
		]]>
	</select>
	
	<delete id="dogDelete" parameterType="java.lang.Integer">
		<![CDATA[
			DELETE PET WHERE PETID=#{petid}
		]]>
	</delete>
	
	<update id="dogUpdate" parameterType="IbDTO">
		<![CDATA[
			UPDATE PET 
			SET DOGKORTYPE=#{dogkortype},DOGENGTYPE=#{dogengtype},AGE=#{age},GENDER=#{gender},PRICE=#{price}, JUSA=#{jusa},PIC=#{pic}
			WHERE petid=#{petid}
		]]>
	</update>
	
	<update id="heartUpdate" parameterType="IbDTO">
		<![CDATA[
			UPDATE PET 
			SET HEART=#{heart}
			WHERE petid=#{petid}
		]]>
	</update>
</mapper>













